@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1;
}

/* Header */
.header {
  height: 8rem;
  display: grid;
  /* align-items: center; */
  border-bottom: 2px solid hsl(0, 0%, 95%);
}

.nav {
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2.4rem;
  font-weight: 800;
  color: hsl(200, 15%, 8%);
}

.nav__btn {
  background: none;
  border: none;
  color: hsl(200, 15%, 8%);
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

.nav__icon {
  width: 1.6rem;
  height: 1.6rem;
}

/* Main */
.main {
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
}

.container {
  padding: 4rem 8rem;
}

.main__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main__nav--search {
  position: relative;
}

.search__icon {
  width: 2.4rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.search__field {
  background: none;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1.6rem 0;
  padding-left: 6rem;
  width: 60%;
}

.search__field::placeholder {
  color: hsl(0, 0%, 70%);
  font-weight: 600;
}

.search__field:focus {
  outline: none;
}

.main__nav--filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: relative;
}

.main__nav--btn {
  background: none;
  border: none;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  padding: 1.4rem 1.8rem;
  width: 28%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__icon {
  width: 1.6rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 1.8rem;
  width: 28%;
  margin-top: 0.6rem;
  z-index: 9999;

  position: absolute;
  top: 4.3rem;
}

.options input {
  background: none;
  border: none;
  cursor: pointer;
}

/* Country */
.country__container {
  padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.country {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  z-index: 99;
  cursor: pointer;
}

.country__img {
  height: 16rem;
  width: 100%;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.country__data {
  padding-left: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2.4rem;
}

.country__name {
  font-size: 1.6rem;
  font-weight: 800;
  color: hsl(200, 15%, 8%);
  padding: 1.4rem 0;
}

.country__row span {
  color: hsl(200, 15%, 8%);
  font-weight: 600;
  line-height: 1.7;
}

/* Dark mode */
.dark__mode {
  transition: all 0.4s;
}

.dark__mode.header,
.dark__mode .country,
.dark__mode .search__field,
.dark__mode .options,
.dark__mode .main__nav--btn {
  background-color: hsl(209, 23%, 22%);
}

.dark__mode.header {
  border-bottom: 0;
}

.dark__mode.main {
  background-color: hsl(207, 26%, 17%);
}

.dark__mode .nav__btn,
.dark__mode .nav__logo,
.dark__mode .country__name {
  color: hsl(0, 0%, 100%);
}

.dark__mode .options input,
.dark__mode .search__field::placeholder,
.dark__mode .country__row,
.dark__mode .main__nav--btn {
  color: hsl(209, 23%, 95%);
}

.dark__mode .country__row span {
  color: hsl(209, 23%, 100%);
}
