@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  /* overflow: hidden; */
}

/* Header */
.header {
  height: 8rem;
  display: grid;
  border-bottom: 2px solid hsl(0, 0%, 95%);
  /* max-width: 144rem; */
}

.nav {
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 2.4rem;
  font-weight: 800;
  color: hsl(200, 15%, 8%);
}

.nav__btn {
  background: none;
  border: none;
  color: hsl(200, 15%, 8%);
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

.nav__icon {
  width: 1.6rem;
  height: 1.6rem;
}

/* Main */
.main {
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
  padding-bottom: 2.4rem;

  position: relative;
}

.container {
  padding: 4rem 8rem;
}

.main__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main__nav--search {
  position: relative;
}

.search__icon {
  width: 2.4rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.search__field {
  background: none;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1.6rem 0;
  padding-left: 6rem;
  width: 60%;
}

.search__field::placeholder {
  color: hsl(0, 0%, 70%);
  font-weight: 600;
}

.search__field:focus {
  outline: none;
}

.main__nav--filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: relative;
}

.main__nav--btn {
  background: none;
  border: none;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  padding: 1.4rem 1.8rem;
  width: 28%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__icon {
  width: 1.6rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 1.8rem;
  width: 28%;
  margin-top: 0.6rem;
  z-index: 9999;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;

  position: absolute;
  top: 4.3rem;
}

.option__hidden {
  transform: translateY(-8rem);
  visibility: hidden;
  opacity: 0;
}

.option__btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Country */
.country__container {
  padding: 0 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.country {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  z-index: 99;
  cursor: pointer;
}

.country__img {
  /* height: 16rem; */
  max-width: 100%;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.country__data {
  padding-left: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2.4rem;
}

.country__name {
  font-size: 1.6rem;
  font-weight: 800;
  color: hsl(200, 15%, 8%);
  padding: 1.4rem 0;
}

.country__row span {
  color: hsl(200, 15%, 8%);
  font-weight: 600;
  line-height: 1.7;
}

.borders__cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 0.6rem;
}

.country__borders {
  border: 2px solid hsl(0, 0%, 95%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 2px 2.4rem;
  font-size: 1.3rem;
  width: 100% !important;
}

.borders {
  display: flex;
  align-items: center;
}

.borders span {
  width: 25%;
}
/* Country detial */
.main__nav--back {
  position: absolute;
  top: 5rem;
}

.back__btn {
  background: none;
  border: none;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  padding: 8px 2.4rem 8px 1.8rem;
  cursor: pointer;

  display: flex;
  gap: 4px;
  align-items: center;
}

.back__icon {
  width: 2.4rem;
  height: 1.6rem;
}

.country__detial--container {
  position: absolute;
  top: 12.8rem;
  width: 100%;
}

.country__detial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  padding: 0 8rem;
}

.country__detial .country__img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 100%;
}

.country__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  padding-top: 1.4rem;
  padding-bottom: 5rem;
}

.country__detial .country__name {
  font-size: 2.4rem;
}

.hidden {
  display: none;
  /* opacity: 0;
  visibility: hidden; */
}

/* Dark mode */
.dark__mode {
  transition: all 0.2s;
}

.dark__mode .country__borders {
  background-color: hsl(209, 23%, 22%);
  border: 0;
}

.dark__mode.header,
.dark__mode .country,
.dark__mode .search__field,
.dark__mode .options,
.dark__mode .main__nav--btn,
.dark__mode .back__btn {
  background-color: hsl(209, 23%, 22%);
}

.dark__mode.header {
  border-bottom: 0;
}

.dark__mode.main {
  background-color: hsl(207, 26%, 17%);
}

.dark__mode .borders span,
.dark__mode .nav__btn,
.dark__mode .nav__logo,
.dark__mode .search__icon,
.dark__mode .country__name {
  color: hsl(0, 0%, 100%);
}

.dark__mode .back__btn,
.dark__mode .option__btn,
.dark__mode .search__field,
.dark__mode .search__field::placeholder,
.dark__mode .country__row,
.dark__mode .main__nav--btn {
  color: hsl(209, 23%, 95%);
}

.dark__mode .country__row span {
  color: hsl(209, 23%, 100%);
}

.dark__mode .nav__icon {
  fill: #fff;
}
/* Media Quries */
/* 1200px */
@media (max-width: 75em) {
  .main__nav--btn,
  .options {
    width: 33%;
  }

  .search__field {
    width: 75%;
  }

  .borders span {
    width: 40%;
  }
}

/* 1000px */
@media (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }

  .main__nav--btn,
  .options {
    width: 40%;
  }

  .container {
    padding: 4rem 5rem;
  }

  .country__container {
    padding: 0 5rem;
    gap: 3rem;
  }

  .country__detial {
    padding: 0 5rem;
    gap: 5rem;
  }

  .country__info {
    gap: 1.8rem;
  }

  .borders span {
    width: 60%;
  }
}

/* 800px */
@media (max-width: 50em) {
  .nav {
    padding: 0 4rem;
  }

  .main__nav--btn,
  .options {
    width: 60%;
  }

  .country__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .search__field {
    width: 90%;
  }

  .country__detial {
    grid-template-columns: 1fr;
  }

  .borders span {
    width: 20%;
  }
}

/* 600px */
@media (max-width: 37.5em) {
  .nav {
    padding: 0 3.2rem;
  }

  .nav__logo {
    font-size: 1.8rem;
  }

  .main__nav--btn,
  .options {
    width: 50%;
  }

  .main__nav {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .main__nav--filter {
    align-items: flex-start;
  }

  .container {
    padding: 4rem 4rem;
  }

  .country__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4rem;
  }

  .country__info {
    grid-template-columns: 1fr;
  }

  .borders {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .borders span {
    width: 100%;
  }
}

/* 400px */
@media (max-width: 25em) {
  .nav {
    padding: 0 1.8rem;
  }

  .main__nav--btn,
  .options {
    width: 60%;
  }

  .search__field {
    width: 100%;
  }

  .container {
    padding: 4rem 1.8rem;
  }

  .country__container {
    grid-template-columns: 1fr;
    padding: 0 5rem;
  }
}
